name: 'CI'
on:
  push:

jobs:
 test:
   runs-on: ubuntu-latest

   steps:
   - uses: actions/checkout@v5
   - name: 'Install Node'
     uses: 'actions/setup-node@v6
     with:
       node-version: '22.x'
   - name: 'Install Dependencies'
     run: npm install
   - name: 'execute tests'
     run: npm test
